<%- include ('partials/header.ejs') -%>
  <div class="container mt-5">
    <h4>Welcome back <%= currentUser ? currentUser.displayName:'' %> !</h4>
    <div class="background" style="height:550px;display:flex">
        <img src="/images/3509388.jpg" style="width:70%;height:550px;margin:auto" alt="background">
    </div>
  </div>
</body>